/* Global styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #0079C1;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.wiki-content h1, .wiki-content h2, .wiki-content h3, .wiki-content h4, .wiki-content h5, .wiki-content h6,
.wiki-content h1 a, .wiki-content h2 a, .wiki-content h3 a, .wiki-content h4 a, .wiki-content h5 a, .wiki-content h6 a {
  color: #275671;
}

h6 { font-size: 0.9em; }

h1, h1 a, h1 a:link, h1 a:visited, .wiki-content h1, .wiki-content h1 a {
  color: #146291;
}

/* Overall template styles */

body.gi {
  padding: 0px; margin: 0px;
  color: #333333;
  background-color: white;
}

div.gi-pagewidth {
  margin: 0px auto;
  width: 960px;
  text-align: left;
  position: relative;
}

div.gi-header div.gi-pagewidth {
  width: 940px;
  padding: 0px 0px 0px 20px;
}

div.gi-header div.gi-banner div.gi-pagewidth {
  width: 960px;
  padding: 0px;
}

div.gi-header div.dojofound {
  padding-top: 3px;
  height: 17px; overflow: hidden;
  color: #727272;
  font-size: 0.9em;
}

div.gi-header div.dojofound span {
  padding-top: .2em;
}

div.gi-header div.gi-banner {
  height: 110px; overflow: hidden;
  background-image: url(headerBar.jpg);
  background-repeat: repeat-x;
  background-position: center top;
}

div.gi-banner div.gi-logo {
  background-image: url(GI_logo.png);
  width: 182px; height: 70px;
  margin-top: 20px;
  float: left; display: inline-block;
  cursor: pointer;
}

div.gi-bannericns {
  margin-top: 20px;
  float: right; display: inline-block;
}

div.gi-bannericns div {
  float: left;
  cursor: pointer;
}

div.gi-banner div.gi-bannerdl {
  background-image: url(download-arrow_90x64.png);
  width: 90px; height: 64px;
}

div.gi-banner div.gi-bannerlc {
  background-image: url(learningCenter_90x64.png);
  width: 90px; height: 64px;
}

div.gi-banner div.gi-bannerfm {
  background-image: url(forum_90x64.png);
  width: 90px; height: 64px;
}

div.gi-globalnav {
  background-image: url(navbg.gif);
  height: 27px;
  overflow: hidden;
}

div.gi-globalnav div.gi-pagewidth {
  margin: 0px auto;
  width: 950px;
  padding: 0px 0px 0px 10px;
  text-align: left;
  position: relative;
}

div.gi-globalnav ul {
  margin: 0px; padding: 0px;
  float: left;
  height: 27px;
  overflow: hidden;
}

div.gi-globalnav ul li {
  list-style: none;
  margin: 0px;
  float: left;
  font-size: 0.85em;
  padding: 0.7em 10px;
  height: 27px;
  overflow: hidden;
}

div.gi-globalnav ul li.navon {
  background-image: url(navbgon.gif);
  border-right: 1px solid #B1B1B1;
  border-left: 1px solid #B1B1B1;
}

div.gi-globalnav ul li, div.gi-globalnav ul li a, div.gi-globalnav ul li a:link, div.gi-globalnav ul li a:visited {
  color: #727272;
  font-weight: bold;
}

div.gi-globalnav div.gi-search {
  width: 254px;
  float: right;
  display: inline-block;
  white-space: nowrap;
}

div.gi-globalnav div.gi-search div {
  vertical-align: middle;
}

div.gi-globalnav div.gi-search .searchinput {
  margin-top: 3px;
  height: 16px;
  padding: 0px;
  width: 220px;
  vertical-align: top;
}

div.gi-globalnav div.gi-search .searchbtn {
  margin-top: 4px;
  vertical-align: top;
}

div.gi-body {
  position: relative;
}

/* Page layout styles */

div.gi-l1c1 {
  padding: 30px 10px 20px 0px;
  width: 670px;
  margin-left: 20px;
}

div.gi-l1c2 {
  position: absolute; left: 700px; top: 0px;
  padding: 30px 20px 20px 20px;
  width: 220px;
  background-color: #e2ecf3;
  background-image: url(sideBar_backgroundTile.jpg);
  background-repeat: repeat-x;
}

div.gi-l2 {
  padding: 30px 0px 20px 0px;
  width: 940px;
  margin-left: 20px;
}

div.gi-body h1 {
  margin: 0px 0px 10px 0px;
  font-weight: normal;
  font-size: 2.5em;
}

div.gi-l1c2 h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0px;
}

div.gi-l1c1 h4 {
  margin: 0px 0px 2px 0px;
  font-weight: bold;
  font-size: 1em;
}

div.gi-sl1 {
  margin: 25px 0px 20px 0px;
  clear: both;
}

div.gi-sl1 h2 {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.4em;
  margin: 0px 0px 2px 0px;
}

div.gi-sl1 h3 {
  font-weight: normal;
  font-size: 1.1em;
  margin: 0px 0px 7px 0px;
}

div.gi-sl1c {
  vertical-align: top;
  display: inline-block;
}

div.gi-sl1c1 {
  width: 200px;
}

div.gi-sl1c2 {
  margin-left: 20px;
  width: 200px;
}

div.gi-sl1c3 {
  margin-left: 20px;
  width: 210px;
}

div.tibco-banner {
  padding: 15px 30px 15px 170px;
  background-image: url(http://pbs.twimg.com/profile_images/421037488468029440/OBtOyFQk_normal.png);
  background-position: 15px center;
  background-repeat: no-repeat;
  background-color: #F4F4F4;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 20px;
  color: #888888;
  clear: both;
}

/* Home page RSS styles */

div#rss {
  font-size: 0.9em;
}

div#rss div.entry {
  margin-bottom: 2em;
}

div#rss div.entry h3.postTitle {
  font-size: 1em; font-weight: bold;
  margin: 1em 0em 0.2em 0em;
}

div#rss div.entry h3.postTitle a {
  color: #333333;
}

div#rss div.entry em.date {
  font-size: 0.8em; color: #666666;
}

div#rss div.entry p.description {
  font-size: 0.95em;
  margin: 0.5em 0em 1em 0em;
}

div#rss div.entry p.description br {
  line-height: 0.6em;
}

div#rss div.entry a.readmore {
  padding-left: 6px;
}

/* Forums styles */

body#phpbb.gi div.gi-body {
  font-size: 0.8em;
  margin-top: 10px;
  width: 940px;
  padding-left: 20px;
}

body#phpbb.gi div#wrap {
  padding: 0px;
}

body#phpbb.gi #search-box {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 10px;
}

body#phpbb.gi #search-box a, body#phpbb.gi #search-box a:link, body#phpbb.gi #search-box a:visited {
  color: #0079C1;
  font-size: 0.8em;
}

/* Confluence styles */

.wiki-content, .wiki-content p, .wiki-content table, .wiki-content tr, .wiki-content td, .wiki-content th, .wiki-content ol, .wiki-content ul, .wiki-content li {
  font-size: inherit;
  line-height: inherit;
}

body, p, td, table, tr, .bodytext, .stepfield {
  color: inherit;
}

body#com-atlassian-confluence.gi div.gi-body {
  margin-top: 3px;
  width: 940px;
  padding-left: 20px;
}

/*body#com-atlassian-confluence.gi h1#title-heading a {
  color: #0079C1;
}*/

body#com-atlassian-confluence.gi div.gi-body #breadcrumbs li span {
  color: #666666;
}

body#com-atlassian-confluence.gi div.gi-body #main {
  border: none; padding: 0px;
}

body#com-atlassian-confluence.gi div.gi-body #header {
  padding: 0px;
}

body#com-atlassian-confluence.gi div.gi-body h1 {
  margin-top: 8px;
}

body#com-atlassian-confluence.gi .pagetitle .global {
  display: none;
}

body#com-atlassian-confluence.gi #header {
  background-color: transparent;
}

body#com-atlassian-confluence.gi #breadcrumbs {
  font-size: 0.9em;
}

body#com-atlassian-confluence.gi #header a,
body#com-atlassian-confluence.gi #breadcrumbs,
body#com-atlassian-confluence.gi #header .ajs-menu-bar li.ajs-menu-item a.trigger {
  color: #0079C1;
}

body#com-atlassian-confluence.gi h1 {
  margin: 15px 0 0 0;
  line-height: 1;
}

body#com-atlassian-confluence.gi .page-metadata {
  margin: 2px 0px 20px 0px;
  color: #999999;
}

body#com-atlassian-confluence.gi .page-metadata a {
  color: #999999;
}

body#com-atlassian-confluence.gi #breadcrumbs li {
  background: transparent url(/assets/confluence_breadcrumbs.jpg) no-repeat scroll 3px center;
}

body#com-atlassian-confluence.gi #breadcrumbs li.first {
  background: none;
}

body#com-atlassian-confluence.gi div.gi-body .spacetree {
  font-size: 0.85em;
}

body#com-atlassian-confluence.gi #footer {
  background: transparent;
  position: relative;
}

body#com-atlassian-confluence.gi #footer p.license, body#com-atlassian-confluence.gi #footer p.license a {
  background: #235F9E none repeat scroll 0 0;
  padding-bottom: 3px;
}

body#com-atlassian-confluence.gi #footer #poweredby {
  background: transparent;
  padding: 0px;
  color: #999999;
}

body#com-atlassian-confluence.gi #footer #poweredby a {
  color: #999999;
}

/* Confluence layouts */

body#com-atlassian-confluence.gi table.layout1 {
/*  margin-top: -20px; */
}

body#com-atlassian-confluence.gi table.layout1 td.col1 {
  padding: 0px 10px 20px 0px;
  width: 670px;
  border: 0px;
  vertical-align: top;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 div.col1 {
  width: 670px;
  overflow: hidden;
}

body#com-atlassian-confluence.gi table.layout1 td.col2 {
  width: 260px;
  vertical-align: top;
}

body#com-atlassian-confluence.gi table.layout1 td.col2 div.col2 {
  background-color: #e2ecf3;
  background-image: url(sideBar_backgroundTile.jpg);
  background-repeat: repeat-x;
  border: 3px double #C1CED6;
  padding: 17px;
}

/*
body#com-atlassian-confluence.gi table.layout1 td.col2 ul,
body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1c ul {
  padding-left: 30px;
}
*/

body#com-atlassian-confluence.gi table.layout1 td.col2 h2 {
  font-weight: bold;
  color: #555555;
  font-size: 1.4em;
  line-height: 1em;
  margin: 0px 0px 2px 0px;
}

body#com-atlassian-confluence.gi table.layout1 td.col2 h3,
body#com-atlassian-confluence.gi table.layout1 td.col2 h3 a {
  color: #333333;
  font-weight: bold;
  font-size: 1.0em;
  margin: 8px 0px 2px 0px;
}

div.plugin_pagetree ul.plugin_pagetree_children_list li, div.plugin_pagetree ul.plugin_pagetree_children_list li div.plugin_pagetree_children_container {
  width:inherit;
}

body#com-atlassian-confluence.gi .plugin_pagetree_children {
  margin-left: -10px;
}

body#com-atlassian-confluence.gi .plugin_pagetree_children li {
  font-weight: bold;
}

body#com-atlassian-confluence.gi .plugin_pagetree_children li li {
  font-weight: normal;
}

body#com-atlassian-confluence.gi table.layout1 td.col2 div.plugin_pagetree ul {
  padding-left: 0px;
  margin-left: 0px;
}

body#com-atlassian-confluence.gi table.layout1 td.col2 div.plugin_pagetree li {
  margin-left: 15px;
  padding-left: 10px;
  text-indent: -10px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1 {
  margin: 25px 0px 30px 0px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 h3 {
  font-weight: normal;
  font-size: 1.3em;
  margin: 0px 0px 7px 0px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 20px 0px 0px 0px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 h5 {
  color: #333333;
  font-weight: bold;
  font-size: 1em;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1 h5 {
  margin: 12px 0px -8px 0px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1 h2 {
  font-weight: normal;
  font-size: 1.4em;
  /* color: #0079C1; */
  margin: 0px 0px 2px 0px;
}
/*
body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1 h3 {
  font-weight: normal;
  font-size: 1.1em;
  margin: 0px 0px 7px 0px;
}
*/
body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1c {
  vertical-align: top;
  display: inline-block;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1c1 {
  width: 200px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1c2 {
  margin-left: 20px;
  width: 200px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 div.gi-sl1c3 {
  margin-left: 20px;
  width: 210px;
}

body#com-atlassian-confluence.gi #navigation .ajs-menu-bar { margin: 0px; }
#navigation .ajs-menu-bar li.ajs-menu-item .ajs-menu-title, #navigation .ajs-menu-bar li.ajs-button a {
  padding: .15em .25em;
}

body#com-atlassian-confluence.gi .gibooknav {
  padding: 1px 4px;
  background-color: #F4F4F4;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  color: #888888;
}

body#com-atlassian-confluence.gi .gibooknavtop {
  margin-bottom: 20px;
}

body#com-atlassian-confluence.gi .gibooknavbottom {
  margin-top: 30px;
}

body#com-atlassian-confluence.gi .gibooknav table {
  width: 100%;
}

body#com-atlassian-confluence.gi .gibooknav table td {
  padding: 0px;
  width: 33%;
  font-size: 0.9em;
}

body#com-atlassian-confluence.gi .gibooknav td.back {
  background-image: url(/docs/images/icons/back_16.gif);
  background-repeat: no-repeat;
  background-position: 0px center;
  padding: 0px 20px;
  vertical-align: middle;
}

body#com-atlassian-confluence.gi .gibooknav td.up {
  text-align: center;
  vertical-align: top;
}

body#com-atlassian-confluence.gi .gibooknav td.forward {
  background-image: url(/docs/images/icons/forwd_16.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0px 20px;
  text-align: right;
  vertical-align: middle;
}

body#com-atlassian-confluence.gi table.gi-lcheader {
  margin-bottom: 4px;
}

body#com-atlassian-confluence.gi table.gi-lcheader td {
  padding-left: 6px;
  vertical-align: middle;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 table.gi-lcheader td h3 { margin: 0px; padding: 0px; }

body#com-atlassian-confluence.gi table.gi-lcheader td.icon {
  width: 32px; height: 32px;
  background-repeat: no-repeat;
  background-position: 0px center;
  padding: 0px;
}

body#com-atlassian-confluence.gi table.gi-lcheader-doc td.icon {
  background-image: url(/assets/icon_documentation.png);
}

body#com-atlassian-confluence.gi table.gi-lcheader-links td.icon {
  background-image: url(/assets/icon_links.png);
}

body#com-atlassian-confluence.gi table.gi-lcheader-apps td.icon {
  background-image: url(/assets/icon_sampleApps.png);
}

body#com-atlassian-confluence.gi table.gi-lcheader-question td.icon {
  background-image: url(/assets/icon_reference.png);
}

body#com-atlassian-confluence.gi table.gi-lcheader-press td.icon {
  background-image: url(/assets/icon_press.png);
}

body#com-atlassian-confluence.gi table.gi-lcheader-question td.icon {
  background-image: url(/assets/icon_reference.png);
}

body#com-atlassian-confluence.gi table.gi-lcheader-utils td.icon {
  background-image: url(/assets/icon_utilities.png);
}

body#com-atlassian-confluence.gi .expander {
  cursor: pointer;
  color: #0079C1;
}

body#com-atlassian-confluence.gi div.table-wrap {
}

body#com-atlassian-confluence.gi table.confluenceTable {
}

body#com-atlassian-confluence.gi table.layout1 td.col1 table.grid {
  margin: 2px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 table.grid th {
  white-space: nowrap;
  text-align: left;
  background-color: #a3a3a3;
  color: white;
  text-transform: uppercase;
  font-size: 0.9em;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 table.grid th,
body#com-atlassian-confluence.gi table.layout1 td.col1 table.grid td {
  padding: 3px 5px;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 table.grid td:nth-child(2) {
  white-space: nowrap;
}

body#com-atlassian-confluence.gi table.layout1 td.col1 table.grid td:last-child {
  font-size: 0.8em;
  white-space: nowrap;
  color: #666666;
}

body#com-atlassian-confluence.gi .rssMacro table {
  margin: 5px;
  width: 95%;
}

body#com-atlassian-confluence.gi .rssMacro table th, body#com-atlassian-confluence.gi .rssMacro table th a {
  background-color: #a3a3a3;
  color: white;
}

body#com-atlassian-confluence.gi div.faq {
  margin: 10px 0px 20px 0px;
}

body#com-atlassian-confluence.gi div.faq div.faqq {
  padding-left: 40px;
  background-image: url(/assets/faqQ.jpg);
  background-repeat: no-repeat;
}

body#com-atlassian-confluence.gi div.faq div.faqa {
  padding-left: 40px;
  background-image: url(/assets/faqA.jpg);
  background-repeat: no-repeat;
}

body#com-atlassian-confluence.gi .bulletlist ul {
  padding-left: 24px;
}

body#com-atlassian-confluence.gi .bulletlist-arrow ul li {
  list-style-image: url(/assets/bullet_arrow.png);
}

body#com-atlassian-confluence.gi .bulletlist-video ul li {
  list-style-image: url(/assets/bullet_video.png);
}

body#com-atlassian-confluence.gi .bulletlist-app ul li {
  list-style-image: url(/assets/bullet_app.png);
}

body#com-atlassian-confluence.gi .bulletlist-square ul li {
  list-style-image: url(/assets/bullet_square.jpg);
}

body#com-atlassian-confluence.gi span.image-wrap img {
  vertical-align: top;
}

body#com-atlassian-confluence.gi tt {
  font-family: Andale Mono, monospace;
}

body#com-atlassian-confluence.gi .code pre, body#com-atlassian-confluence.gi .preformatted pre {
  font-family: Andale Mono, Lucida Console, monospace;
  font-size: 0.95em;
}

.confluenceTd div.code {
  margin: 10px;
}

.confluenceTd div.code div.codeContent {
  padding: 0px 6px;
}

.confluenceTd div.code div.codeContent pre {
  margin: 5px 0px;
}
