<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2001-2009, TIBCO Software Inc.
  ~ Use, modification, and distribution subject to terms of license.
  -->
<data>
  <record jsxid="version" type="string">3.4</record>
  <record jsxid="jsxversion" type="string">3.2</record>
  <record jsxid="caption" type="string">@gi.productname.full.text@</record>
  <record jsxid="mode" type="number">1</record>
  <record jsxid="namespace" type="string">jsx3.IDE</record>
  <record jsxid="cancelerror" type="eval">Boolean(jsx3.CLASS_LOADER.IE)</record>
  <record jsxid="cancelrightclick" type="boolean">true</record>
  <record jsxid="bodyhotkeys" type="boolean">true</record>
  <record jsxid="left" type="number">0</record>
  <record jsxid="top" type="number">0</record>
  <record jsxid="width" type="string">100%</record>
  <record jsxid="height" type="string">100%</record>
  <record jsxid="position" type="number">0</record>
  <record jsxid="overflow" type="number">2</record>
  <record jsxid="eventsvers" type="number">3.1</record>
  <!--<record jsxid="onload" type="string"><![CDATA[jsx3.ide.onStartUp();]]></record>-->
  <record jsxid="onunload" type="string"><![CDATA[jsx3.ide.onShutdown();]]></record>
  <!--<record jsxid="objectseturl" type="string"><![CDATA[components/containers/layout_1.xml]]></record>-->
  <record jsxid="manualpaint" type="boolean">true</record>
  <record jsxid="classpath" type="string">js/:jsx3.ide.*,js/:jsx3.io.*</record>
  <record jsxid="addins" type="array">
    <record jsxid="0" type="string">amp</record>
  </record>
  <!--
  <record jsxid="includes" type="array">
    <record jsxid="1" type="map" mergegroup="file">
      <record jsxid="id" type="string">idefile</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="browser" type="string">IE</record>
      <record jsxid="src" type="string">js/jsx3/io/File.js</record>
    </record>
    <record jsxid="1" type="map" mergegroup="file_fx">
      <record jsxid="id" type="string">idefile_fx</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="browser" type="string">FX</record>
      <record jsxid="src" type="string">js/jsx3/io/File_fx.js</record>
    </record>

    <record jsxid="3" type="map">
      <record jsxid="id" type="string">ide_ExecQueue</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ExecQueue.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">serverview</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/jsx3/ide/Server.js</record>
    </record>
    <record jsxid="0" type="map">
      <record jsxid="id" type="string">ide</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide.js</record>
    </record>

    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_cache</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_cache.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_dom</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_dom.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_editor</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_editor.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_events</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_events.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_palettes</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_palettes.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_projects</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_projects.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_properties</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_properties.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_prototypes</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_prototypes.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_resources</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_resources.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_scriptlet</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/scriptlet.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_settings</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_settings.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">ide_tools</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_tools.js</record>
    </record>
    <record jsxid="2" type="map">
      <record jsxid="id" type="string">idepreferences</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/jsx3/ide/Preferences.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">idefiledialog</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/io/FileDialog.js</record>
    </record>
    <record jsxid="5" type="map">
      <record jsxid="id" type="string">styles_jss</record>
      <record jsxid="type" type="string">jss</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">jss/CSS.xml</record>
    </record>
    <record jsxid="5" type="map">
      <record jsxid="id" type="string">lang_eng</record>
      <record jsxid="type" type="string">jss</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">jss/language/eng.xml</record>
    </record>
    <record jsxid="5" type="map">
      <record jsxid="id" type="string">lang_error_eng</record>
      <record jsxid="type" type="string">jss</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">jss/language/eng_errors.xml</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">idecss</record>
      <record jsxid="type" type="string">css</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">css/ide.css</record>
    </record>
    <record jsxid="100" type="map">
      <record jsxid="id" type="string">ide_modelevents</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_modelevents.js</record>
    </record>
    <record jsxid="101" type="map">
      <record jsxid="id" type="string">ide_attributes</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_attributes.js</record>
    </record>
    <record jsxid="101" type="map">
      <record jsxid="id" type="string">ide_xslparams</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_xslparams.js</record>
    </record>
    <record jsxid="102" type="map">
      <record jsxid="id" type="string">ide_sysout</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_sysout.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">ide_addins</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_addins.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">ide_home</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_home.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">ide_version</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/ide_version.js</record>
    </record>

    <record jsxid="103" type="map">
      <record jsxid="id" type="string">debugger_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/ide/Debugger.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">ideapisearcher</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/ide/ApiSearcher.js</record>
    </record>

    <record jsxid="3" type="map">
      <record jsxid="id" type="string">jsx3_ide_Editor</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/ide/Editor.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">jsx3_ide_ComponentEditor</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/ide/ComponentEditor.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">jsx3_ide_TextEditor</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/ide/TextEditor.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">jsx3_ide_CacheEditor</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/ide/CacheEditor.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">jsx3_ide_PropertiesEditor</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/ide/PropertiesEditor.js</record>
    </record>

    <record jsxid="3" type="map">
      <record jsxid="id" type="string">jsx3_ide_PrefsController</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">js/jsx3/ide/PrefsController.js</record>
    </record>
  </record>
  -->
  
</data>
