RewriteEngine On

Options -Indexes

RewriteRule  ^announce_rss$     http://www.generalinterface.org/forums/rss.php?f=9  [R,L]
RewriteRule  ^forums_rss$       http://www.generalinterface.org/forums/rss.php?mode=topics  [R,L]
RewriteRule  ^forums$           http://www.generalinterface.org/forums/  [R,L]
RewriteRule  ^bugs$             http://www.generalinterface.org/bugs/  [R,L]
RewriteRule  ^download$         http://www.generalinterface.org/docs/display/GETGI  [R,L]
RewriteRule  ^signup$           http://www.generalinterface.org/docs/display/DOC/Accounts+and+Registration  [R,L]
RewriteRule  ^os_browse_code$   http://www.generalinterface.org/fisheye/browse/GI  [R,L]
RewriteRule  ^os_home$          http://www.generalinterface.org/docs/display/OS  [R,L]
RewriteRule  ^gipp$             http://www.generalinterface.org/docs/display/DOC/GIPP  [R,L]
RewriteRule  ^gitak$            http://www.generalinterface.org/docs/display/DOC/GITAK  [R,L]
RewriteRule  ^learning$         http://www.generalinterface.org/docs/display/DOC  [R,L]
RewriteRule  ^forum_dev$        http://www.generalinterface.org/forums/viewforum.php?f=3  [R,L]
RewriteRule  ^forum_gipp$       http://www.generalinterface.org/forums/viewforum.php?f=6  [R,L]
RewriteRule  ^forum_gitak$      http://www.generalinterface.org/forums/viewforum.php?f=5  [R,L]
RewriteRule  ^sysreqs38$        http://www.generalinterface.org/docs/display/GIDOCS/System+Requirements+for+General+Interface
RewriteRule  ^decline_license$  http://www.generalinterface.org/  [R,L]
RewriteRule  ^support$          http://www.generalinterface.org/docs/display/DOC/Support  [R,L]
RewriteRule  ^samples$          http://www.generalinterface.org/docs/pages/viewpage.action?pageId=2392105  [R,L]
RewriteRule  ^tutorials$        http://www.generalinterface.org/docs/display/DOC/Tutorials  [R,L]
RewriteRule  ^planning$         http://www.generalinterface.org/docs/display/OS/Planning  [R,L]

# Legacy 3.8 documentation aliases
RewriteRule  ^search/3\.8(\.\d)?/([^/]+)$   http://www.generalinterface.org/docs/dosearchsite.action?searchQuery.queryString=$2&searchQuery.spaceKey=GIDOCS38&gi-searchgo=true&gi-searchanchor=$2  [R,L]
RewriteRule  ^userguide/3\.8(\.\d)?$        http://www.generalinterface.org/docs/display/GIDOCS38 [R,L]

# Most recent documentation aliases
RewriteRule  ^search/([^/]+)/([^/]+)$   http://www.generalinterface.org/docs/dosearchsite.action?searchQuery.queryString=$2&searchQuery.spaceKey=GIDOCS&gi-searchgo=true&gi-searchanchor=$2  [R,L]
RewriteRule  ^userguide/([^/]+)$        http://www.generalinterface.org/docs/display/GIDOCS [R,L]
