RewriteEngine On

Options -Indexes

RewriteRule  ^announce_rss$  	http://www.generalinterface.org/forums/rss.php?f=9  [R,L]
RewriteRule  ^forums_rss$  		http://www.generalinterface.org/forums/rss.php?mode=topics  [R,L]
RewriteRule  ^forums$  			http://www.generalinterface.org/forums/  [R,L]
RewriteRule  ^bugs$  			http://www.generalinterface.org/bugs/  [R,L]
RewriteRule  ^download$  		http://www.generalinterface.org/  [R,L]
RewriteRule  ^resources$  		http://www.generalinterface.org/  [R,L]
RewriteRule  ^signup$  			http://www.generalinterface.org/  [R,L]
RewriteRule  ^os_browse_code$  	http://www.generalinterface.org/fisheye/browse/GI  [R,L]
RewriteRule  ^os_home$  		http://www.generalinterface.org/docs/display/OS  [R,L]
RewriteRule  ^gipp$  			http://www.tibco.com/devnet/gi/product_resources_gipp1.jsp  [R,L]
RewriteRule  ^gitak$  			http://www.tibco.com/devnet/gi/product_resources_gitak1.jsp  [R,L]
RewriteRule  ^learning$  		http://www.generalinterface.org/docs/display/DOC  [R,L]
RewriteRule  ^forum_dev$  		http://www.generalinterface.org/forums/viewforum.php?f=3  [R,L]
RewriteRule  ^forum_hacking$  	http://www.generalinterface.org/forums/viewforum.php?f=8  [R,L]
RewriteRule  ^forum_feedback$  	http://www.generalinterface.org/forums/viewforum.php?f=7  [R,L]
RewriteRule  ^sysreqs38$  		http://developer.tibco.com/gi/sysreq35.jsp  [R,L]
RewriteRule  ^get_docs$  		http://www.generalinterface.org/  [R,L]
RewriteRule  ^decline_license$  http://www.generalinterface.org/  [R,L]
RewriteRule  ^support$  		http://www.tibco.com/software/rich_internet_application/general_interface/gi_edu_support_psg.jsp  [R,L]

# In future we can forward based on the version number, which is $1 in both of the following rules
RewriteRule  ^search/([^/]+)/([^/]+)$  	http://www.generalinterface.org/docs/dosearchsite.action?searchQuery.queryString=$2&searchQuery.spaceKey=GIDOCS&gi-searchgo=true&gi-searchanchor=$2  [R,L]
RewriteRule  ^userguide/([^/]+)$	http://www.generalinterface.org/docs/display/GIDOCS