#adminInterface {
	margin: 0 0 25px 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	background-color: #F4F4F4;
}

#app-border {
	position: relative;
	height: 100%;
}

#content {
	background-color: white;
  	width: 750px;
  	margin: 0;
  	padding: 25px 0 25px 10px;
  	margin-left: auto;
  	margin-right: auto;
  	border: 1px solid #aaa;
  	border-top: none;
}

.tag {
	display: block;
}

button {
	cursor: pointer;
	font-size: 12px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
	border: none;
	background: none;
}

button:active {
	background: #F00;
}

/* ---------- header ---------- */

#header-pane {
	overflow: hidden;
	padding: 0;
	background: url("../images/headerBg.jpg") repeat-x;
	border: none;
}

#header-pane h1 {
	font-size: 0;
	width: 186px;
	height: 78px;
	background: url("../images/GILogo.jpg") no-repeat;
}

#header-pane h2 {
	display: none;
}

#user {
	position: absolute;
	top: 78px;	
	right: 6px;
	line-height: 25px;
	z-index: 3;
}

#user span {
	margin-right: 8px;
	font-size: 10px;
	font-weight: bold;
}

#user span a {
	text-decoration: none;
	color: #333;
}

#user span a:hover {
	color: #333;
}

.verticalRule {
	width: 1px;
	height: 9px;
	padding-right: 1px;	
	background: #5F5F5F;
	border-left: 1px solid #B8B8B8;
}

/* --------- controls ---------- */

#component-border {
	padding: 6px 5px 5px 5px !important;
}

#component-border .dijitContentPane {
	padding: 0;
}

#component-controls {
	position: relative;
	height: 36px;
	line-height: 36px;
	background: #EEE url("../images/controlsBg.png") repeat-x left top;
	border-bottom: 1px solid #BEBDBE;
}

#component-controls button {
	margin-right: 12px;
}

#filter-box-form {
	position: absolute;
	right: 7px;
	top: 9px;
}

#filter-box {
	height: 18px;
	padding: 2px 2px 0 2px;
	border: 1px solid #999;
}

.verticalRuleButton {
	width: 1px;
	height: 20px;
	padding: 2px 1px 2px 0;
	background: #FFF;
	border-left: 1px solid #CCC;
}

/* --------- tundra theme overrides --------- */

#adminInterface .dijitBorderContainer {
	padding: 0;
}

#adminInterface .dijitTabContainerTopStrip {
	padding-top: 0;
	background: url("../images/tabStripBg.png") repeat-x;
	border: none;
	border-top: 1px solid #FFF;
}

#adminInterface .dijitTabContainer {
	top: 78px !important;
}

#adminInterface .dijitTabContainerTop-tabs {
	padding-bottom: 2px;
	border-bottom: 1px solid #B1B1B1;	
}

#adminInterface .dijitTab {
	background: none;
	border: none;
}

#adminInterface .dijitTabChecked {
	padding-bottom: 1px;
	background: #BEBEBE url("../images/selectedTabBg.png") repeat-x left top;
	border-left: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
}

#adminInterface .tabLabel {
	font-weight: bold;
}
