#adminInterface {
	margin: 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	background-color: #F5F5F5;
}

#app-border {
	position: relative;
	height: 100%;
}

h2 {
	font-size: 18px;
	text-shadow: 0 1px 0 #FFF;	
}

hr {
	background: #E3E3E3;
	height: 1px;
	border: none;
}

button {
	cursor: pointer;
	font-size: 12px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
	border: none;
	background: none;
	text-shadow: 0 1px 0 #FFF;
}

#interfaceWrapper {
	top: 78px !important;
}

/* ---------- header ---------- */

#header-pane {
	overflow: hidden;
	padding: 0;
	background: url("../images/headerBg.jpg") repeat-x left top;
	border: none;
}

#header-pane h1 {
	font-size: 0;
	width: 186px;
	height: 78px;
	background: url("../images/GILogo.jpg") no-repeat;
}

#header-pane h2 {
	display: none;
}

#user {
	position: absolute;
	top: 78px;	
	right: 6px;
	line-height: 25px;
	z-index: 3;
}

.dj_ie #user {
	top: 82px;	
}

#user span {
	margin-right: 8px;
	font-size: 10px;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFF;	
}

#user span a {
	text-decoration: none;
	color: #333;
}

#user span a:hover {
	color: #333;
}

.verticalRule {
	width: 1px;
	height: 9px;
	padding-right: 1px;	
	background: #5F5F5F;
	border-left: 1px solid #B8B8B8;
}

/* --------- controls ---------- */

#component-border {
	padding: 6px 5px 5px 5px !important;
}

#component-border .dijitContentPane {
	padding: 0;
}

#component-controls {
	position: relative;
	height: 36px;
	line-height: 36px;
	background: #EEE url("../images/controlsBg.png") repeat-x left top;
	border-bottom: 1px solid #BEBDBE;
}

#component-controls button {
	margin-right: 12px;
}

.dj_ie #component-controls button {
	padding-left: 5px;
}

#filter-box-form {
	position: absolute;
	right: 7px;
	top: 9px;
}

#filter-box {
	height: 18px;
	padding: 2px 2px 0 2px;
	border: 1px solid #999;
}

.verticalRuleButton {
	width: 1px;
	height: 20px;
	margin-right: 12px;
	padding: 2px 1px 2px 0;
	background: #FFF;
	border-left: 1px solid #CCC;
}

.dj_ie .verticalRuleButton {
	position: relative;
	top: -8px;
}

/* --------- grid --------- */

#adminInterface .dojoxGridHeader .dojoxGridCell {
	background-color: #FFF;
	text-shadow: 0 1px 0 #FFF;	
}

#adminInterface .dojoxGridRowOdd {
	background-color: #F0F7FA;
}

#adminInterface .dojoxGridCell {
	border-style: solid;
	border-color: transparent #DBDADB #DBDADB transparent;	
}


/* --------- tundra theme overrides --------- */

#adminInterface .dijitBorderContainer {
	padding: 0;
	background-color: #F5F5F5;
}

#adminInterface .dijitTabContainerTopStrip {
	padding-top: 0;
	background: url("../images/tabStripBg.png") repeat-x;
	border: none;
	border-top: 1px solid #FFF;
}

#adminInterface .dijitTabContainerTop-tabs {
	padding-bottom: 2px;
	border-bottom: 1px solid #B1B1B1;	
}

#adminInterface .dijitTab {
	background: none;
	border: none;
}

#adminInterface .dijitTabChecked {
	padding-bottom: 1px;
	background: #BEBEBE url("../images/selectedTabBg.png") repeat-x left top;
	border-left: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
}

#adminInterface .tabLabel {
	font-weight: bold;
	text-shadow: 0 1px 0 #FCFCFC;	
}

#adminInterface .dijitTabInnerDiv {
	padding: 2px 8px 2px 4px;
}

#adminInterface .dijitSplitterH, .tundra .dijitGutterH {
	height: 8px;
	background: #F5F5F5;
}

#adminInterface .dijitSplitterH .dijitSplitterThumb {
	height: 5px;
	background: url("../images/splitterThumbH.gif") no-repeat;
}

/* ---------- info pane ---------- */

#adminInterface #info-pane .dijitTabContainerTop-tabs {
	position: relative;
	height: 30px;
	border-bottom: 1px solid #AEAEAE;	
}

.dj_ie #adminInterface #info-pane .dijitTabContainerTop-tabs {
	height: 32px;
}

#info-pane .dijitTabContainerTopStrip {
	height: 31px !important;	
	background: url("../images/tabStripTallBg.png") repeat-x;
	border: none;
	border: 1px solid #AFAFAF;
	border-bottom: none;
}

#adminInterface #info-pane .dijitTab {
	top: 3px;
	padding: 3px 0;
	background: #E8E8E8 url("../images/infoTabBg.png") repeat-x left top;
	border: 1px solid #BFBEBF;
}

#adminInterface #info-pane .tabLabel {
	font-weight: normal;
}

#adminInterface #info-pane  .dijitTabChecked {
	padding-bottom: 4px;
	background: #FFF;
	border-color: #CDCDCD;
	border-bottom-color: #FFF;
}

#adminInterface #info-pane .tabLabel {
	text-shadow: 0 1px 0 #FFF;	
}

.dj_ie #adminInterface #info-pane  .dijitTabChecked {

}
 
#component-actions {
	position: absolute;
	top: 0;
	right: 20px;
}

#component-actions button {
	top: 1px;
	position: relative;
	padding: 3px 14px;
	font-size: 13px;
	font-weight: bold;
	font-family: Helvetica;
	color: #333;
	background: #E9EDF0 url("../images/grayButtonBg.png") repeat-x left top;
	border: 1px solid #AEBAC3;
}

.dj_gecko #component-actions button {
	top: 3px;
	margin-left: 3px;
	padding: 2px 14px;
}

.dj_ie #component-actions button {
	top: 3px;
	margin-left: 7px;
	padding: 1px 2px;
}

#component-actions .acceptIcon,
#component-actions .rejectIcon,
#component-actions .featureIcon {
	position: relative;
	top: 2px;
	left: -5px;
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url("../images/componentButtonSprite.png") no-repeat 0 0;
}

#component-actions .rejectIcon { background-position: -14px 0 }
#component-actions .featureIcon { background-position: -28px 0; width: 0; }

#info-pane .dijitTabPaneWrapper {
	top: 31px !important;
	border-top: 1px solid #AFAFAF;
}

#info-pane .dijitContentPane {
	padding: 0 25px 25px 25px;
}

#info-description {
	float: left;
	width: 50%;
	margin-right: 50px;
}

#info-details {
	float: left;
	width: 340px;
	margin-top: 1.5em;
}

#author-detail,
#status-detail,
#version-detail,
#downloads-detail,
#rating-detail,
#uploaded-detail,
#category-detail,
#description-detail {
	font-weight: bold;
}

#author-detail {
	color: #0033CC;
}

#info-details button {
	margin-top: 6px;
	padding: 6px 20px;
	background: #E8E8E8 url("../images/infoTabBg.png") repeat-x left top;
	border: 1px solid #BFBEBF;
}


.dj_ie #info-details button {
	padding: 2px 6px;
}

/* ---------- activity log ---------- */

#activity-tab {
	background: #F5F5F5;
	padding: 6px 5px 5px 5px !important;
}

#log-pane {
	background: #F5F5F5;
	padding: 0;
	border: none;
}

#log-pane h2 {
	margin-left: 5px;
}

#log-pane .dojoxGrid {
	border: 1px solid #CCC;
}
